DATABASE_URL=postgres://postgres:localpassword@postgres:5432/fleet_management
RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672/
MQTT_BROKER_URL=tcp://localhost:1883

DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=localpassword
DB_NAME=fleet_management

POSTGRES_USER=postgres
POSTGRES_PASSWORD=localpassword
POSTGRES_DB=fleet_management

RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

GEOFENCE_LAT=-6.20000
GEOFENCE_LNG=106.81667
GEOFENCE_RADIUS=50.0